body {
  background-color: #fff;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
}
body img {
  width: 100%;
  object-fit: cover;
}
body li {
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}
body a {
  color: #333333;
}
body h1 {
  font-size: 3.2rem;
  line-height: 1.7;
  letter-spacing: 0em;
  font-weight: 700;
}
body h2 {
  font-size: 3.2rem;
  line-height: 1.6875;
  letter-spacing: 0em;
  font-weight: 600;
}
body h3 {
  font-size: 2.8rem;
  line-height: 1.7142857143;
  letter-spacing: 0em;
}
body h4 {
  font-size: 2.4rem;
  line-height: 2;
  letter-spacing: 0em;
}
body h5 {
  font-size: 1.3rem;
  line-height: 2.0769230769;
  letter-spacing: 0em;
  color: #3ba6c9;
}
body p {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0em;
}
body dt {
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0em;
  font-weight: bold;
}
body dd {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.07em;
}

html {
  font-size: 62.5% !important;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.f-wrapper {
  max-width: 985px;
  margin: 0 auto;
}

.l-contents__article {
  margin-top: 65px;
}
.l-contents__article h2,
.l-contents__article h3,
.l-contents__article h5 {
  text-align: center;
}
.l-contents__article h5 {
  margin: 3px 8px 0 0;
}

.l-footer {
  width: 100%;
  background-color: #333;
  padding: 35px 0 40px 0px;
}
.l-footer p {
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  text-align: center;
  line-height: 0.8;
  letter-spacing: 0.02em;
}

.l-header {
  width: 100%;
  height: 94px;
  background-color: #fff;
}
.l-header__inner {
  max-width: 1022px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .l-header__inner {
    flex-direction: column;
    text-align: center;
  }
}
.l-header__inner-left {
  display: flex;
  width: 257px;
  margin: 23px 0 0 19px;
}
.l-header__inner-left img {
  width: 50px;
  height: 50px;
}
.l-header__inner-left h4 {
  margin-left: 14px;
}
.l-header__inner-nav {
  margin-top: 37px;
}
.l-header__inner-nav ul {
  display: flex;
  width: 301px;
}
.l-header__inner-nav ul li {
  margin-right: 47px;
}
.l-header__inner-right {
  margin: 30px 22px 0 0;
}
.l-header__connect {
  margin-top: 12px;
  margin-right: 20px;
}
.l-header__connect p {
  font-size: 1.4rem;
  margin-right: 5px;
  white-space: nowrap;
}
@media (max-width: 599px) {
  .l-header__connect p {
    text-align: center;
  }
}
.l-header__connect-tel {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
@media (max-width: 599px) {
  .l-header__connect-tel {
    justify-content: center;
  }
}
.l-header__connect-tel img {
  width: 25px;
  height: 25px;
  margin: 0 5% 0 0;
}
@media (max-width: 599px) {
  .l-header__connect-tel img {
    width: 35px;
    height: 35px;
    margin: 0 2% 0 0;
  }
}
@media (max-width: 599px) {
  .l-header__connect-tel h4 {
    margin: auto 0;
    white-space: nowrap;
  }
}

.p-article {
  margin: 45px 0 0 0;
  padding-bottom: 32px;
}
.p-article__2colum {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}
.p-article__2colum-img {
  width: 39%;
}
.p-article__2colum-img2 {
  width: 48%;
  margin-left: 8%;
}
.p-article__2colum-img3 {
  width: 41%;
  margin-left: 2%;
}
.p-article__section {
  width: 46%;
  margin-top: 41px;
}
.p-article__section h4,
.p-article__section p {
  margin-left: 6px;
}
.p-article__section h4 {
  width: 115%;
}
.p-article__section p {
  width: 90%;
  margin-top: 36px;
  line-height: 1.7;
}
.p-article__section2 {
  margin: 5px 0 0 31px;
}
.p-article__section2 p {
  margin-top: 29px;
  width: 450px;
  line-height: 1.8;
}
.p-article__section3 {
  width: 39%;
  margin-top: 27px;
}
.p-article__section3 p {
  margin-top: 22px;
  margin-left: 9px;
  width: 345px;
  line-height: 1.8;
}
.p-article__section3 h4 {
  margin-left: 3px;
}

.p-fv {
  border-top: 1px solid #707070;
  display: flex;
  height: 674px;
  width: 100%;
}
.p-fv-right {
  position: relative;
  width: 50%;
}
.p-fv-right1, .p-fv-right2 {
  position: absolute;
}
.p-fv-right1 {
  width: 113%;
  z-index: -1;
  transform: translate(-2%, -15%);
}
.p-fv-right2 {
  width: 85%;
  z-index: -1;
  transform: translate(-15%, 30%);
}
.p-fv-left h1,
.p-fv-left p,
.p-fv-left button {
  margin-left: 25.5%;
  width: 47%;
}
.p-fv-left h1 {
  margin-top: 153px;
}
.p-fv-left p {
  margin-top: 21px;
  width: 34%;
  font-size: 1.6rem;
  line-height: 1.6875;
  letter-spacing: 0em;
  font-weight: 700;
}
.p-fv-left button {
  width: 21%;
  margin-top: 35px;
}

.c-button {
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0em;
  width: 153px;
  height: 37px;
  color: #fff;
  background: linear-gradient(90deg, #fa41cc, #6020b0);
  padding: 7px 0px;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  border: none;
}

.c-gmap {
  width: 100% !important;
  height: 443px;
}

.u-flex_r {
  flex-direction: row-reverse;
}

.u-mg {
  margin-top: 114px;
}/*# sourceMappingURL=style.css.map */