@use "../global" as *;

.l-contents {
  &__article {
    &2 {
      margin-top: 53px;
      h2,
      h3,
      h5 {
        text-align: center;
      }
      h5 {
        margin: 3px 8px 0 0;
      }
    }
    margin-top: 65px;
    h2,
    h3,
    h5 {
      text-align: center;
    }
    h5 {
      margin: 3px 8px 0 0;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      width: 30%;
    }
  }
}
