@use "../global" as *;

.c-button {
  @include f_style2(1.4, 24, 0);
  width: 153px;
  height: 37px;

  color: #fff;
  background: linear-gradient(90deg, #fa41cc, #6020b0);
  padding: 7px 0px;
  text-align: center;

  white-space: nowrap;
  border-radius: 10px;

  border: none;
  &__form {
    text-align: center;
    margin-top: 27px;
  }
}
