@use "../global" as *;

.c-form {
  &-wrapper {
    margin: 0 auto;
    margin-top: 34px;

    max-width: 900px;
    background-color: $white;
  }
  &__box {
    padding-top: 36px;
    padding-left: 59px;
    &-title {
      display: flex;
    }
    &-input {
      &1 {
        margin-top: 34px;
        height: 39px;
        width: 491px;
        border: none;
        background-color: #eefbfb;
      }
      &2 {
        margin-top: 34px;
        height: 170px;
        width: 780px;
        border: none;
        background-color: #eefbfb;
      }
    }
    &2 {
      padding-top: 30px;
      padding-left: 59px;
    }
    &3 {
      padding-top: 23px;
      padding-left: 59px;
    }
    &4 {
      padding-top: 23px;
      text-align: center;
      label {
        font-size: 1.6rem;
      }
      &-check {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
