@use "../global" as *;

.p-article {
  margin: 46px 0 0 0;
  padding-bottom: 32px;
  &__2colum {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    &-img {
      width: 39%;
    }
    &-img2 {
      width: 48%;
      margin-left: 8%;
    }
    &-img3 {
      width: 41%;
      margin-left: 2%;
    }
  }
  &__section {
    width: 46%;
    margin-top: 41px;

    h4,
    p {
      margin-left: 6px;
    }
    h4 {
      width: 115%;
    }
    p {
      width: 90%;
      margin-top: 36px;
      line-height: 1.7;
    }
    &2 {
      margin: 5px 0 0 31px;
      p {
        margin-top: 29px;
        width: 450px;
        line-height: 1.7;
      }
    }

    &3 {
      width: 39%;
      margin-top: 27px;
      p {
        margin-top: 22px;
        margin-left: 9px;
        width: 345px;
        line-height: 1.8;
      }
      h4 {
        margin-left: 3px;
      }
    }
  }
  &__cell {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    dl {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      dt {
        width: 27%;
        padding: 0px 0px 0px 5%;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
      }
      dd {
        width: 62%;
        padding: 0px 0px 0px 40px;
        border-bottom: 1px solid #e5e5e5;
      }
    }
    p {
      font-weight: bold;
      text-align: center;
    }
  }
  &__table {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;

    dl {
      width: 97%;
      margin: 0 auto;
    }
    dt,
    dd {
      @include f_style2(1.4, 26, 70);
      text-align: center;
      padding: 18px 35px 18px 35px;
      margin: 0 auto;
      margin-left: 18px;
      border-bottom: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
    }
    dt {
      cursor: pointer;

      &:nth-of-type(1) {
        border-top: 1px solid #e5e5e5;
      }
    }
    dd {
      display: none;

      background-color: #f2f2f2;
      &:nth-of-type(1) {
        display: block;
      }
      &:nth-of-type(3) {
        text-align: start;
      }
    }
  }
}
