@use "../global" as *;

.p-article {
  margin: 45px 0 0 0;
  padding-bottom: 32px;
  &__2colum {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    &-img {
      width: 39%;
    }
    &-img2 {
      width: 48%;
      margin-left: 8%;
    }
    &-img3 {
      width: 41%;
      margin-left: 2%;
    }
  }
  &__section {
    width: 46%;
    margin-top: 41px;

    h4,
    p {
      margin-left: 6px;
    }
    h4 {
      width: 115%;
    }
    p {
      width: 90%;
      margin-top: 36px;
      line-height: 1.7;
    }
    &2 {
      margin: 5px 0 0 31px;
      p {
        margin-top: 29px;
        width: 450px;
        line-height: 1.8;
      }
    }

    &3 {
      width: 39%;
      margin-top: 27px;
      p {
        margin-top: 22px;
        margin-left: 9px;
        width: 345px;
        line-height: 1.8;
      }
      h4 {
        margin-left: 3px;
      }
    }
  }
  &__cell {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
    dl {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      dt {
        width: 30%;
        padding: 0px 0px 0px 45px;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
      }
      dd {
        width: 50%;
        padding: 0px 0px 0px 40px;
        border-bottom: 1px solid #e5e5e5;
      }
    }
    p {
      font-weight: bold;
      text-align: center;
    }
  }
}
