@use "../global" as *;

.p-fv {
  border-top: 1px solid #707070;
  display: flex;
  height: 674px;
  width: 100%;

  @include tab {
    flex-direction: column-reverse;
  }
  &-right {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-left: 100px;

    @include tab {
      padding-left: 0;
      overflow: unset;
    }

    &1,
    &2 {
      position: absolute;
    }
    &1 {
      width: 113%;
      z-index: -1;
      transform: translate(-2%, -16%);

      @include tab {
        transform: translate(80%, -29%);
      }
    }
    &2 {
      width: 85%;
      z-index: -1;
      transform: translate(-15%, 29%);
      @include tab {
        transform: translate(93%, 16%);
      }
    }
  }
  &-left {
    h1,
    p,
    button {
      margin-left: 27.5%;
      width: 51%;

      @include tab {
        margin-left: 28.5%;
        width: 53%;
      }
    }
    h1 {
      margin-top: 152px;
      @include tab {
        margin-top: 353px;
      }
    }
    p {
      margin-top: 21px;
      width: 38%;
      @include f_style2(1.6, 27, 0);
      font-weight: 700;
    }
    button {
      width: 21%;
      margin-top: 35px;
    }
  }
}
