@use "../global" as *;

.u-bg {
  background-color: #eefbfb;
  padding: 58px 0 53px 0;
  margin-top: 117px;
  margin-bottom: 0px;

  > p {
    text-align: center;
    font-weight: bold;
    margin-top: 36px;
    font-size: 1.25rem;
  }
}
